# Set token name in digital ocean console under API>Tokens/Keys>Generate New Token
do_token = "REPLACEME"
gandiKey="REPLACEME"
gandiSharingId="REPLACEME"
domainName="REPLACEME"
hostname="REPLACEME"

sshpublickeys=[
    "REPLACEME",
    "REPLACEM",
    "REPLACEME"
]

wg_privatekey="REPLACEME"
wg_publickey="REPLACEME"


#variable "droplet_image"
droplet_image="debian-11-x64"


#variable "droplet_region"
#variable "droplet_size"
